// Typography
$base-font-family: 'Space Mono', sans-serif;
$heavy-font-family: 'Space Mono', sans-serif;

// Font Sizes
$root-font-size: 16px;
$base-font-size: 1rem;

// Font Weights
$font-normal: 400;
$font-bold: 400;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * $base-font-size;
$small-spacing: $base-spacing / 2;

// Colors
$white:            #ffffff;
$black:            #131516;
$dark-gray:        #373D3F;
$medium-gray:      #707C80;
$light-gray:       #050505;
$lighter-gray:     #f2f3f4;
$dark-red:         #660000;
$alert:            #fff6bf;
$error:            #fbe3e4;
$notice:           #e5edf8;
$success:          #e6efc2;

// Font Colors
$base-font-color: $dark-gray;
$header-font-color: $dark-gray;
$action-color: $dark-gray;
$action-hover-color: $black;

// Font-smoothing
$font-smoothing: antialiased;

// Border
$base-border-radius: 3px;
$base-border-color: $black;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;

// Animations
$base-duration: 300ms;
$base-timing: ease-in-out;

// Retina Media Query
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

// Media Query Breakpoints
$small-screen: 640px;
$medium-screen: 641px;
$large-screen: 960px;
$xlarge-screen: 1400px;

$small-screen: "max-width: #{$small-screen}";
$medium-screen-up: "min-width: #{$medium-screen}";
$large-screen-up: "min-width: #{$large-screen}";
$xlarge-screen-up: "min-width: #{$xlarge-screen}";
